.custom-checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;

  &--label {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
  }

  &--button {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer;
  }

  &--button-checked {
    background-color: rgba(10, 5, 30, 1);
    background-image: url("../../../assets/images/checkbox-icon.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--button-unchecked {
    border: 1px solid rgba(10, 5, 30, 1);
    background: none;
  }
}

.custom-checkbox > label > input[type="checkbox"] {
  display: none;
  width: 0px;
}