.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;

  &--no-text {
    width: 40px;
  }

  &--element {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(79, 79, 255, 1);
    color: rgba(79, 79, 255, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  &--text {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: rgba(79, 79, 255, 1);
    margin: 0px;
  }
}