.mb-16 {
  margin-bottom: 16px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mt-11 {
  margin-top: 11px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.flex-row-start {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-align-left {
  text-align: left;
}